.ytd-banner-promo-renderer-layout-container.ytd-banner-promo-renderer,
.ytd-display-ad-renderer,
.ytd-ad-slot-renderer {
    opacity: 0 !important;
    visibility: hidden !important;
}
#player-ads,
ytd-ad-slot-renderer,
.ytd-rich-section-renderer {
    display: none !important;
}
